@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 50% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 130 40% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 121 40% 75%;
    --secondary-foreground: 130 40% 30%;
    --muted: 120 50% 93%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 48 89% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 20% 88%;
    --input: 120 20% 92%;
    --ring: 130 40% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 120 10% 10%;
    --foreground: 0 0% 98%;
    --card: 120 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 120 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 121 40% 75%;
    --primary-foreground: 130 40% 10%;
    --secondary: 130 40% 40%;
    --secondary-foreground: 0 0% 98%;
    --muted: 120 5% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 48 89% 44%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 5% 20%;
    --input: 120 5% 20%;
    --ring: 121 40% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
