@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 67% 99%;
    --foreground: 0 0% 12%;
    --card: 30 67% 99%;
    --card-foreground: 0 0% 12%;
    --popover: 30 67% 99%;
    --popover-foreground: 0 0% 12%;
    --primary: 124 48% 33%;
    --primary-foreground: 0 0% 98%;
    --secondary: 50 52% 50%;
    --secondary-foreground: 0 0% 12%;
    --muted: 220 13% 91%;
    --muted-foreground: 215 9% 47%;
    --accent: 198 77% 21%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 94%;
    --ring: 124 48% 33%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 13% 10%;
    --foreground: 220 13% 95%;
    --card: 220 13% 10%;
    --card-foreground: 220 13% 95%;
    --popover: 220 13% 10%;
    --popover-foreground: 220 13% 95%;
    --primary: 124 40% 60%;
    --primary-foreground: 124 48% 10%;
    --secondary: 50 52% 60%;
    --secondary-foreground: 50 52% 10%;
    --muted: 220 13% 15%;
    --muted-foreground: 215 9% 65%;
    --accent: 198 70% 50%;
    --accent-foreground: 198 77% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 124 40% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
